header{
  width: 1140px;
  height: 982px;
  margin: 0 auto;
  // margin-top: 20px;
  background-image: url(../images/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash\ \(2\).png);
  background-repeat: no-repeat;
  // border: 1px solid red;

  .container{
    width: 1070px;
    margin: 0 auto;
    

    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1070px;
      height: 50px;
      margin-top: 32px;
      padding-top: 20px;
      // border: 1px solid red;

      .logo{
        width: 128px;
        height: 34px;
        // border: 1px solid black;
      }
      .nav_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 30px;
        
        ul{
          display: flex;
          list-style: none;
          gap: 20px;

          li{
            color: #FFF;
            font-family: DMSans;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.377px;
          }
        }
      }

      .nav_btn{
        
        button{
          display: flex;
          width: 211px;
          height: 50px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          border-radius: 0px 18px 0px 0px;
          background: #FFAC12;
          border: none;
        }
      }
    }

    .nav_home{
      width: 519px;
      margin-top: 140px;
      // border: 1px solid red;

      h2{
        color: #FFF;
        font-family: DMSans;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px; /* 100% */
        margin: 0;
      }
      p{
        width: 428px;
        color: black;
        font-family: DMSans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 140% */
        letter-spacing: -0.503px;
        opacity: 0.6;
      }
    }

    .see_listings{
      display: flex;
      align-items: center;
      gap: 10px;
      width: 1069px;
      height: 90px;
      flex-shrink: 0;
      margin-top: 208px;
      background: #FFF;
      border-radius: 10px 10px 0 0;

      h3{
        color: #000;
        font-family: DMSans;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 30px;
        letter-spacing: -0.503px;
      }

      img{
        width: 24px;
        height: 12px;
        flex-shrink: 0;
      }
    }
  }

}
main{
  // display: flex;
  width: 1141px;
  background: #FFF;
  margin: 0 auto;
  // border: 1px solid red;

  .good_hands{
    display: flex;
    width: 1000px;
    // border: 1px solid black;
    
    .section1_img{
      width: 600px;
      height: 570px;
      // border: 1px solid red;
      flex-shrink: 0;
  
      img{
        width: 600px;
        height: 590px;
        flex-shrink: 0;
      }
    }
    
    .section1_text{
      width: 500px;
      height: 400px;
      margin-top: 50px;
      // border: 1px solid green;
      
      .restangle{
        width: 169px;
        height: 4px;     
        flex-shrink: 0;
      }

      h2{
        color: #000;
        font-family: DMSans;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -1.256px;
      }

      p{
        width: 397px;
        color: #000;
        font-family: DMSans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 140% */
        letter-spacing: -0.503px;
      }
      .main_good_btn{
        display: flex;
        margin-top: 50px;
        
        button{
          width: 209px;
          height: 70px;
          flex-shrink: 0;
          border-radius: 0px 18px 0px 0px;
          background: #000;
          color: #FFF;
          border: none;

          img{
            width: 20px;
            height: 10px;
          }
        }
      }
    }
  }

  .find_live{
    width: 1141px;
    height: 1600px;
    background-color: #F5F5F5;
    margin: 0 auto;
    flex-shrink: 0;

    .container{
      width: 900px;
      height: 266px;
      margin: 0 auto;

      .restangle2{
        width: 169px;
        height: 4px;     
        flex-shrink: 0;
        padding-top: 30px;
      }
      
      h2{
        color: #000;
        font-family: DMSans;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -1.256px;
        margin-top: 50px;
      }
      .filter{
        display: flex;
        align-items: center;
        width: 900px;
        height: 120px;
        // border: 1px solid red;
  
        ul{
          display: flex;
          align-items: center;
          list-style: none;
          padding: 0px;
          background-color: #E1E1E1;
          border-radius: 10px 10px 0px 0px;
          // margin-left: -43;
          // gap: 10px;
  
  
          .radius_left{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 224px;
            height: 120px;
            gap: 10px;
            background-color: white;
            border-radius: 10px 0px 0px 20px;
            // border: 1px solid black; 
          }
          .no_radius{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 224px;
            height: 120px;
            gap: 10px;
            background-color: white;
            // border-radius: 0 0 5px 5px;
            // border: 1px solid black;
          }
  
          .radius_right{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 224px;
            height: 120px;
            gap: 10px;
            border-radius: 0px 10px 20px 0px;
            background-color: white;
            // border: 1px solid black; 
          }
        }
      }
    }
  }
}